<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") -%> 
</head>
<body>
    <%- include("partials/header.ejs") -%> 

    <main class="main-products">

        <article class="main-products__item">
            <h2 class="main-products__category">Ноутбуки</h2>
            <section class="main-products__products">
                <%
                    products.forEach( ( product ) => {
                %>
                    <div class="main-products__product">
                        <img width="200px" height="200px" src="<%=product.img%>" alt="Product image">
                        <p><%=product.title %></p>
                        <p><%=product.description%></p>
                        <p><%=product.price %></p>
                        <a href="/profile/<%=product.author.nickname %>">
                            <p><%=product.author.nickname %></p>
                        </a>
                    </div>

                <% 
                    });    
                %> 
            </section>
        </article>

    </main>

    <%- include("partials/footer.ejs") -%> 

</body>
</html>